html {
  background: #000000;
  color: #FFFFFF;
  box-sizing: border-box;
  font-size: 17px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media (max-width: 900px) {
  html { font-size: 15px; }
}
@media (max-width: 400px) {
  html { font-size: 13px; }
}
*, *:before, *:after {
  box-sizing: inherit;
}
body, html {
  width:100% ;
  height:100% ;
  overflow: auto;
  margin: 0;
  padding: 0;
}
iframe {
  border: none;
}
body > .page {
  position: fixed;
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body > .page > content {
  display: block;
  overflow-y: auto;
  height: calc(100% - 2.8em);
  /*spt-banner 100% - height*/
}
@media (max-width: 900px) {
  body > .page > content {
    height: calc(100% - 4rem);
    /*spt-banner 100% - height*/
  }
}
.loading:before,.empty:before {
  display: block;
  text-align: center;
  padding: 10px 0;
}
.loading:before {
  content: "Loading\2026";
}
.selected-maybe.selected,.selected-maybe:hover {
  font-weight: bold;
  background: #dddddd;
}
a, a:visited, a:hover, a:active {
  text-decoration: none;
}
a, a:visited, a:active {
  color: #FDD102;
}
a:hover {
  color: #AB9C53;
}
a.yellow-button {
  background: #FDD102;
  color: #000000;
}
a.yellow-button:hover {
  opacity: 0.8;
  text-shadow: none;
}
a.red-button {
  font-size: 30px;
  padding: 20px 80px;
  background: #CB1F26;
  color: #FFFFFF;
}
a.red-button:hover {
  background: #CB1F26;
  opacity: 0.8;
  text-shadow: none;
}